<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>快一步航班管理系统</title>
  <link rel="icon" href="../img/logo.ico" type="image/x-icon">
  <style>
    body {
      padding: 0;
      margin: 0;
    }
    a {
      color: #409eff;
      text-decoration: none;
    }
    /*容器布局*/
    .el-header {
      color: #333;
      text-align: center;
      line-height: 60px;
    }
    .el-main {
      color: #333;
    }
  </style>
</head>
<body>

<div id="app" style="display: flex;justify-content: center">
  <div style="width: 1220px">
    <!--头部-->
    <el-header>
      <p style="margin: 0;font-weight: bold;font-size: 25px">
        快一步航班管理系统
        <el-link type="primary" :underline="false" href="/PlaneTicket/admin">
          切换权限
        </el-link>
      </p>
    </el-header>

    <!--导航栏-->
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
      <el-menu-item index="adTicket.html">航班管理</el-menu-item>
      <el-menu-item index="adOrder.html">订单管理</el-menu-item>
      <el-menu-item index="adSeat.html">座位管理</el-menu-item>
      <el-menu-item index="adUser.html">用户管理</el-menu-item>
      <el-menu-item index="adPassenger.html">乘机人管理</el-menu-item>
      <el-menu-item index="adNotice.html">公告管理</el-menu-item>
      <el-menu-item index="adAdvice.html">建议管理</el-menu-item>
    </el-menu>

    <!--tab-->
    <el-tabs v-model="activeName" :tab-position="tabPosition" @tab-click="handleClick">

      <!--第一页-->
      <el-tab-pane name="first">
        <el-tooltip slot="label" class="item" effect="dark" content="主页" placement="right" :open-delay="500">
          <i class="el-icon-house"></i>
        </el-tooltip>

        <!--一个main-->
        <el-main>

          <!--条件查询-->
          <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <el-form-item label="建议类型">
              <el-input v-model="formInline.adviceType" placeholder="建议类型"></el-input>
            </el-form-item>

            <el-form-item label="内容">
              <el-input v-model="formInline.adviceContent" placeholder="内容"></el-input>
            </el-form-item>

            <el-form-item label="手机号">
              <el-input v-model="formInline.phone" placeholder="手机号"></el-input>
            </el-form-item>



            <el-form-item>
              <el-button type="primary" plain icon="el-icon-refresh-right" @click="Reset">重置</el-button>
              <el-button type="primary" @click="selectCondition()" icon="el-icon-search" @clik="">查询</el-button>
            </el-form-item>

          </el-form>

          <!--操作按钮-->
<!--          <el-row>-->
<!--            <el-button type="danger" plain round icon="el-icon-delete" @click="adviceDelete">批量删除</el-button>-->
<!--          </el-row>-->

          <!--表格-->
          <el-table
                  :data="tableData"
                  stripe
                  style="width: 100%"
                  @selection-change="handleSelectionChange">
            <el-table-column
                    type="index"
                    width="50"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="adviceType"
                    label="类型"
                    sortable>
            </el-table-column>
            <el-table-column
                    prop="adviceContent"
                    label="内容"
                    sortable>
            </el-table-column>
            <el-table-column
                    prop="phone"
                    label="手机"
                    sortable>
            </el-table-column>
            <el-table-column
                    prop="time"
                    label="时间"
                    sortable>
            </el-table-column>
            <el-table-column
                    align="center"
                    label="操作">
            <template slot-scope="scope">
              <el-button type="danger" icon="el-icon-delete" circle size="medium" @click="adviceDelete(scope.row)"></el-button>
            </template>
            </el-table-column>
          </el-table>

          <!--&lt;!&ndash;分页&ndash;&gt;
          <el-pagination
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :current-page="currentPage"
                  :page-sizes="[100, 200, 300, 400]"
                  :page-size="100"
                  layout="total, sizes, prev, pager, next, jumper"
                  :total="400">
          </el-pagination>-->

          <!--                    <el-row>-->
          <!--                        <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>-->
          <!--                    </el-row>-->

        </el-main>

      </el-tab-pane>

     <!-- 第二页
      <el-tab-pane name="second">
        <el-tooltip slot="label" class="item" effect="dark" content="批量添加" placement="right" :open-delay="500">
          <i class="el-icon-plus"></i>
        </el-tooltip>

      </el-tab-pane>

      &lt;!&ndash;第三页&ndash;&gt;
      <el-tab-pane name="third">
        <el-tooltip slot="label" class="item" effect="dark" content="批量删除" placement="right" :open-delay="500">
          <i class="el-icon-delete"></i>
        </el-tooltip>

      </el-tab-pane>

      &lt;!&ndash;第四页&ndash;&gt;
      <el-tab-pane name="fourth">
        <el-tooltip slot="label" class="item" effect="dark" content="高级设置" placement="right" :open-delay="500">
          <i class="el-icon-setting"></i>
        </el-tooltip>

      </el-tab-pane>-->
    </el-tabs>




    </el-tabs>


  </div>
</div>

<script src="../js/axios-0.18.0.js"></script>
<script src="../js/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">

<script>
  new Vue({
    el:"#app",
    data:{
      // tab默认选择
      activeName: 'first',
      // tab位置
      tabPosition: 'left',
      // 导航栏默认选择
      activeIndex: 'adAdvice.html',
      // 分页的
      currentPage: 4,
      // 添加弹窗状态
      dialogVisibleAdd: false,

      // 表格数据
      tableData: [{
        adviceType: 'buy反馈',
        adviceContent: 'asdasdasdasd',
        phone: '18415154652'
      }, {
        adviceType: 'buy反馈',
        adviceContent: '撒大声地',
        phone: '18415154652'
      }, {
        adviceType: '界面建议',
        adviceContent: '请问请问',
        phone: '18415154652'
      }],
      // 条件查询数据
      formInline: {
        adviceType: '',
        adviceContent: '',
        phone:''
      },

      // 添加弹窗的表单对齐方式
      labelPosition:'right'
    },

    created() {
      this.select()
    },

    methods:{
      select() {
        let _this = this;
        axios({
          method: "Get",
          url: "http://localhost:8080/PlaneTicket/admin/advices",
        }).then(function (resp) {
          _this.tableData = resp.data;
          console.log(resp.data);
        })
      },

      selectAId(row){
        axios.get("/PlaneTicket/admin/advices/"+row.aid).then((res)=>{
          this.formEdit = res.data;
          this.dialogVisibleEdit = true;
        });
      },

      selectCondition(){
        axios.get("/PlaneTicket/admin/advices/dySelect?adviceType="+this.formInline.adviceType+"&adviceContent="+this.formInline.adviceContent+"&phone="+this.formInline.phone).then((res)=>{
          //this.formInline = res.data;
          this.tableData = res.data;
        });
      },

      adviceDelete(row){
        this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          axios.delete("/PlaneTicket/admin/advices/delete/" + row.aid ).then((res)=>{
            if(res.data == true){
              this.$message({
                message: '恭喜你，删除成功!',
                type: 'success'
              });
            }else {
              this.$message.error('不好意思，删除失败了哦!');
            }
          }).finally(()=>{
            this.dialogVisibleEdit = false;
            this.select();
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });

      },

      Reset(){
        this.formInline.adviceType="";
        this.formInline.adviceContent="";
        this.formInline.phone="";
      },
      // tab的点击事件
      handleClick(tab, event) {
        console.log(tab, event);
      },
      // 表格的批量选择
      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
      // 条件查询提交按钮
      onSubmit() {
        console.log('submit!');
      },
      // 导航栏的选择事件
      handleSelect(routePath) {
        location.href = routePath;
      },
      // 添加弹窗关闭事件
      handleClose(done) {
        this.$confirm('确认关闭？')
                .then(_ => {
                  done();
                })
                .catch(_ => {});
      },
      // 分页
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
      },
    }
  })
</script>
</body>
</html>