<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户订单信息</title>
    <link rel="icon" href="../img/logo.ico" type="image/x-icon">
    <style>
        /*整体*/
        body {
            padding: 0;
            margin: 0;
        }

        /*容器布局*/
        .el-header {
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        /*.el-main {
            color: #333;
            text-align: center;
        }*/
        .el-row {
            margin-bottom: 20px;
        }

        .nobe{
            margin: 0px;
            font-size: 25px;
            color: #409eff;
            padding: 0 20px;
        }
        .mytime{
            margin: 0px;
            font-size: 30px;
            font-weight: bolder;
        }
        .didian{
            margin: 0px;
            font-size: 15px;
            color: #777;
        }
        .jiage{
            margin: 0px;
            font-size: 30px;
            color: #ff7d13;
        }
        .buy{
            display: inline-block;
            line-height: 1;
            white-space: nowrap;
            cursor: pointer;
            border: 1px solid #ff8f33;
            color: #FFF;
            background-color: #ff8f33;
            text-align: center;
            box-sizing: border-box;
            outline: 0;
            margin: 0;
            transition: .1s;
            font-weight: 500;
            padding: 12px 16px;
            margin: 0 20px;
            font-size: 14px;
            border-radius: 4px;
        }
        .buy:hover {
            background-color: #ffa257;
            border-color: #ffa257;
        }
        .buy:active {
            background-color: #e6812e;
            border-color: #e6812e;
        }
    </style>
    <script src="../js/axios-0.18.0.js"></script>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="app" style="display: flex;justify-content: center">
    <div style="width: 1220px">

        <el-container>

            <!--头部-->
            <el-header style="display: flex;justify-content: space-between;align-items: center;">

                <!--Logo-->
                <el-image
                        style="height: 55px"
                        :src="logoUrl"
                        :fit="fit"></el-image>

                <!--导航栏-->
                <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                    <el-menu-item index="/PlaneTicket">机场首页</el-menu-item>
                    <el-menu-item index="../notice.html">机场公告</el-menu-item>
                    <el-menu-item index="../help.html">帮助中心</el-menu-item>
                    <el-menu-item index="../advice.html">建议中心</el-menu-item>
                </el-menu>

                <!--用户头像-->
                <div style="display: flex;align-items: center">
                    <el-link type="primary" :underline="false" style="margin-left: 10px" @click="drawer = true">
                        <el-avatar :src="circleUrl"
                                   style="transform: translateX(-120%) translateY(-50%);position: absolute;top: 50%;"></el-avatar>
                        <span style="">{{titleNameed}}</span>
                    </el-link>
                </div>

            </el-header>


            <el-container>

                <el-menu :default-active="activeIndex2" class="el-menu-vertical-demo" @select="handleSelect"
                         :collapse="isCollapse">
                    <el-menu-item index="Userpersonal.html">
                        <i class="el-icon-user"></i>
                        <span slot="title">个人信息</span>
                    </el-menu-item>
                    <el-menu-item index="userOrder.html">
                        <i class="el-icon-s-order"></i>
                        <span slot="title">订单管理</span>
                    </el-menu-item>
                    <el-menu-item index="User_passengers.html">
                        <i class="el-icon-phone-outline"></i>
                        <span slot="title">乘车人管理</span>
                    </el-menu-item>
                    <el-menu-item index="User_changepassword.html">
                        <i class="el-icon-lock"></i>
                        <span slot="title">修改密码</span>
                    </el-menu-item>
                </el-menu>



                <el-tabs v-model="activeName" @tab-click="handleClick" :stretch="true">
                    <!--第一页-->
                    <el-tab-pane label="已完成订单" name="first">
                        <!--全部订单-->
                        <el-main  style="width: 1150px;">


                            <!--&lt;!&ndash;条件查询&ndash;&gt;
                            <el-form :inline="true"   class="demo-form-inline">

                                <el-form-item label="订单号">
                                    <el-input  placeholder="订单号" ></el-input>
                                </el-form-item>

                                <el-form-item label="下单时间" >
                                    <el-input  placeholder="下单时间" ></el-input>
                                </el-form-item>

                                <el-form-item label="班次" >
                                    <el-input  placeholder="班次"></el-input>
                                </el-form-item>

                                <el-form-item label="出发日期" >
                                    <el-input  placeholder="出发日期" ></el-input>
                                </el-form-item>

                                <el-form-item label="出发城市" >
                                    <el-input  placeholder="出发城市" ></el-input>
                                </el-form-item>

                                <el-form-item label="到达城市" >
                                    <el-input  placeholder="到达城市" ></el-input>
                                </el-form-item>

                                <el-form-item>
                                    <el-button type="primary" plain icon="el-icon-refresh-right" @click="Reset">重置</el-button>
                                    <el-button type="primary" icon="el-icon-search">查询</el-button>
                                </el-form-item>


                            </el-form>-->

                            <!--订单卡片-->
                            <el-card class="box-card" v-for="ord in orders">
                                <div style="display: flex;align-items: center;min-width: 640px">
                                    <!--机票基本信息-->
                                    <div style="display: flex;flex-direction: column;width: 45%;">
                                        <!--信息上部-->
                                        <div style="margin-bottom: 5px">
                                                    <span style="color: #82848a;font-size: 17px;margin-left: 10px">
                                                        {{ord.ticket.shift}}
                                                    </span>
                                            <span style="color: #82848a;font-size: 17px;margin-left: 15px">
                                                        {{ord.ticket.date}}
                                                    </span>
                                        </div>
                                        <!--信息下部-->
                                        <div style="display:flex;align-items: center;justify-content: space-between">
                                            <!--起点 时间-->
                                            <div style="display: flex;flex-direction: column;align-items: center">
                                                <span style="color: black;font-size: 24px">
                                                    {{ord.ticket.startTime}}
                                                </span>
                                                <span style="color: #666666;font-size: 15px">
                                                    {{ord.ticket.origin}}
                                                </span>
                                            </div>
                                            <!--中间-->
                                            <div style="width: 150px;height: 1px;background: #C8C8C8;position: relative">
                                                <div style="
                                                    width: 8px;
                                                    float: right;
                                                    border-top: 1px solid #C8C8C8;
                                                    margin-top: -2px;
                                                    transform: rotate(29deg)">
                                                </div>
                                                <p style="
                                                    padding: 0px 6px;
                                                    color: #969696;
                                                    background: #ffffff;
                                                    position: absolute;
                                                    left: 50%;
                                                    transform: translateX(-50%) translateY(-50%);
                                                    margin: 0;"
                                                >
                                                    {{getProcess(ord.ticket.startTime,ord.ticket.endTime)}}
                                                </p>
                                            </div>
                                            <!--终点 时间-->
                                            <div style="display: flex;flex-direction: column;align-items: center">
                                                <span style="color: black;font-size: 24px">
                                                    {{ord.ticket.endTime}}
                                                </span>
                                                <span style="color: #666666;font-size: 15px">
                                                    {{ord.ticket.end}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <!--详细订单信息-->
                                    <div style="width: 55%;display: flex;align-items: center;justify-content: space-between">
                                        <div style="text-align: center;flex: 1;display: flex;flex-direction: column">
                                            <span style="margin-bottom: 10px">{{ord.passenger.psName+" 座位:"}}{{ord.seat.passageSeat == null ? "无" : ord.seat.passageSeat }}</span>
                                            <span style="font-size: 32px;color: red">￥{{ord.ticket.price}}</span>
                                        </div>
                                        <div>
                                            <div style="margin-bottom: 10px;display: flex;flex-direction: column;align-items: flex-end;">
                                                <span style="font-size: 14px;">订单编号{{ord.onum}}</span>
                                                <span style="font-size: 14px;">下单时间{{ord.time}}</span>
                                            </div>
                                            <div style="float: right;">
                                                <el-button type="danger" round @click="todeleted(ord.oid)">删除订单</el-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </el-card>


                        </el-main>
                    </el-tab-pane>

                    <!--第二页-->
                    <el-tab-pane label="已支付订单" name="second">

                        <!--已支付订单-->
                        <el-main style="width: 1150px;">

                            <!--订单卡片-->
                            <el-card class="box-card" v-for="ord in orders">
                                <div style="display: flex;align-items: center;min-width: 640px">
                                    <!--机票基本信息-->
                                    <div style="display: flex;flex-direction: column;width: 45%;">
                                        <!--信息上部-->
                                        <div style="margin-bottom: 5px">
                                                    <span style="color: #82848a;font-size: 17px;margin-left: 10px">
                                                        {{ord.ticket.shift}}
                                                    </span>
                                            <span style="color: #82848a;font-size: 17px;margin-left: 15px">
                                                        {{ord.ticket.date}}
                                                    </span>
                                        </div>
                                        <!--信息下部-->
                                        <div style="display:flex;align-items: center;justify-content: space-between">
                                            <!--起点 时间-->
                                            <div style="display: flex;flex-direction: column;align-items: center">
                                                <span style="color: black;font-size: 24px">
                                                    {{ord.ticket.startTime}}
                                                </span>
                                                <span style="color: #666666;font-size: 15px">
                                                    {{ord.ticket.origin}}
                                                </span>
                                            </div>
                                            <!--中间-->
                                            <div style="width: 150px;height: 1px;background: #C8C8C8;position: relative">
                                                <div style="
                                                    width: 8px;
                                                    float: right;
                                                    border-top: 1px solid #C8C8C8;
                                                    margin-top: -2px;
                                                    transform: rotate(29deg)">
                                                </div>
                                                <p style="
                                                    padding: 0px 6px;
                                                    color: #969696;
                                                    background: #ffffff;
                                                    position: absolute;
                                                    left: 50%;
                                                    transform: translateX(-50%) translateY(-50%);
                                                    margin: 0;"
                                                >
                                                    {{getProcess(ord.ticket.startTime,ord.ticket.endTime)}}
                                                </p>
                                            </div>
                                            <!--终点 时间-->
                                            <div style="display: flex;flex-direction: column;align-items: center">
                                                <span style="color: black;font-size: 24px">
                                                    {{ord.ticket.endTime}}
                                                </span>
                                                <span style="color: #666666;font-size: 15px">
                                                    {{ord.ticket.end}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <!--详细订单信息-->
                                    <div style="width: 55%;display: flex;align-items: center;justify-content: space-between">
                                        <div style="text-align: center;flex: 1;display: flex;flex-direction: column">
                                            <span style="margin-bottom: 10px">{{ord.passenger.psName+" 座位:"+ord.seat.passageSeat}}</span>
                                            <span style="font-size: 32px;color: red">￥{{ord.ticket.price}}</span>
                                        </div>
                                        <div>
                                            <div style="margin-bottom: 10px;display: flex;flex-direction: column;align-items: flex-end;">
                                                <span style="font-size: 14px;">订单编号{{ord.onum}}</span>
                                                <span style="font-size: 14px;">下单时间{{ord.time}}</span>
                                            </div>
                                            <div style="float: right;">
                                                <el-button type="danger" round @click="todeleted(ord.oid)">删除订单</el-button>
                                            </div>
                                            <!--<div style="float: right;">
                                                <el-button type="info" plain @click="expay(ord.oid,i)">取消订单</el-button>
                                                <button class="buy" style="margin: 0px" @click="payone(ord.oid,i)">立即支付</button>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>


                            </el-card>


                        </el-main>
                    </el-tab-pane>

                    <!--第三页-->
                    <el-tab-pane label="未支付订单" name="third">
                        <!--未支付订单-->
                        <el-main style="width: 1150px;">

                            <!--订单卡片-->
                            <el-card class="box-card" v-for="ord in orders">
                                <div style="display: flex;align-items: center;min-width: 640px">
                                    <!--机票基本信息-->
                                    <div style="display: flex;flex-direction: column;width: 45%;">
                                        <!--信息上部-->
                                        <div style="margin-bottom: 5px">
                                                    <span style="color: #82848a;font-size: 17px;margin-left: 10px">
                                                        {{ord.ticket.shift}}
                                                    </span>
                                            <span style="color: #82848a;font-size: 17px;margin-left: 15px">
                                                        {{ord.ticket.date}}
                                                    </span>
                                        </div>
                                        <!--信息下部-->
                                        <div style="display:flex;align-items: center;justify-content: space-between">
                                            <!--起点 时间-->
                                            <div style="display: flex;flex-direction: column;align-items: center">
                                                <span style="color: black;font-size: 24px">
                                                    {{ord.ticket.startTime}}
                                                </span>
                                                <span style="color: #666666;font-size: 15px">
                                                    {{ord.ticket.origin}}
                                                </span>
                                            </div>
                                            <!--中间-->
                                            <div style="width: 150px;height: 1px;background: #C8C8C8;position: relative">
                                                <div style="
                                                    width: 8px;
                                                    float: right;
                                                    border-top: 1px solid #C8C8C8;
                                                    margin-top: -2px;
                                                    transform: rotate(29deg)">
                                                </div>
                                                <p style="
                                                    padding: 0px 6px;
                                                    color: #969696;
                                                    background: #ffffff;
                                                    position: absolute;
                                                    left: 50%;
                                                    transform: translateX(-50%) translateY(-50%);
                                                    margin: 0;"
                                                >
                                                    {{getProcess(ord.ticket.startTime,ord.ticket.endTime)}}
                                                </p>
                                            </div>
                                            <!--终点 时间-->
                                            <div style="display: flex;flex-direction: column;align-items: center">
                                                <span style="color: black;font-size: 24px">
                                                    {{ord.ticket.endTime}}
                                                </span>
                                                <span style="color: #666666;font-size: 15px">
                                                    {{ord.ticket.end}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <!--详细订单信息-->
                                    <div style="width: 55%;display: flex;align-items: center;justify-content: space-between">
                                        <div style="text-align: center;flex: 1;display: flex;flex-direction: column">
                                            <span style="margin-bottom: 10px">{{ord.passenger.psName+" 座位:"+ord.seat.passageSeat}}</span>
                                            <span style="font-size: 32px;color: red">￥{{ord.ticket.price}}</span>
                                        </div>
                                        <div>
                                            <div style="margin-bottom: 10px;display: flex;flex-direction: column;align-items: flex-end;">
                                                <span style="font-size: 14px;">订单编号{{ord.onum}}</span>
                                                <span style="font-size: 14px;">下单时间{{ord.time}}</span>
                                            </div>
                                            <div style="float: right;">
                                                <el-button type="info" plain @click="expay(ord.oid)">取消订单</el-button>
                                                <button class="buy" style="margin: 0px" @click="payone(ord.oid)">立即支付</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </el-card>


                        </el-main>
                    </el-tab-pane>

                    <!--第四页-->
                    <el-tab-pane label="已取消订单" name="fourth">

                        <!--已取消订单-->
                        <el-main style="width: 1150px;">

                            <!--订单卡片-->
                            <el-card class="box-card" v-for="ord in orders">
                                <div style="display: flex;align-items: center;min-width: 640px">
                                    <!--机票基本信息-->
                                    <div style="display: flex;flex-direction: column;width: 45%;">
                                        <!--信息上部-->
                                        <div style="margin-bottom: 5px">
                                                    <span style="color: #82848a;font-size: 17px;margin-left: 10px">
                                                        {{ord.ticket.shift}}
                                                    </span>
                                            <span style="color: #82848a;font-size: 17px;margin-left: 15px">
                                                        {{ord.ticket.date}}
                                                    </span>
                                        </div>
                                        <!--信息下部-->
                                        <div style="display:flex;align-items: center;justify-content: space-between">
                                            <!--起点 时间-->
                                            <div style="display: flex;flex-direction: column;align-items: center">
                                                <span style="color: black;font-size: 24px">
                                                    {{ord.ticket.startTime}}
                                                </span>
                                                <span style="color: #666666;font-size: 15px">
                                                    {{ord.ticket.origin}}
                                                </span>
                                            </div>
                                            <!--中间-->
                                            <div style="width: 150px;height: 1px;background: #C8C8C8;position: relative">
                                                <div style="
                                                    width: 8px;
                                                    float: right;
                                                    border-top: 1px solid #C8C8C8;
                                                    margin-top: -2px;
                                                    transform: rotate(29deg)">
                                                </div>
                                                <p style="
                                                    padding: 0px 6px;
                                                    color: #969696;
                                                    background: #ffffff;
                                                    position: absolute;
                                                    left: 50%;
                                                    transform: translateX(-50%) translateY(-50%);
                                                    margin: 0;"
                                                >
                                                    {{getProcess(ord.ticket.startTime,ord.ticket.endTime)}}
                                                </p>
                                            </div>
                                            <!--终点 时间-->
                                            <div style="display: flex;flex-direction: column;align-items: center">
                                                <span style="color: black;font-size: 24px">
                                                    {{ord.ticket.endTime}}
                                                </span>
                                                <span style="color: #666666;font-size: 15px">
                                                    {{ord.ticket.end}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <!--详细订单信息-->
                                    <div style="width: 55%;display: flex;align-items: center;justify-content: space-between">
                                        <div style="text-align: center;flex: 1;display: flex;flex-direction: column">
                                            <span style="margin-bottom: 10px">{{ord.passenger.psName}}</span>
                                            <span style="font-size: 32px;color: red">￥{{ord.ticket.price}}</span>
                                        </div>
                                        <div>
                                            <div style="margin-bottom: 10px;display: flex;flex-direction: column;align-items: flex-end;">
                                                <span style="font-size: 14px;">订单编号{{ord.onum}}</span>
                                                <span style="font-size: 14px;">下单时间{{ord.time}}</span>
                                            </div>
                                            <div style="float: right;">
                                                <el-button type="danger" round @click="todeleted(ord.oid)">删除订单</el-button>
                                            </div>
                                            <!--<div style="float: right;">
                                                <el-button type="info" plain @click="expay(ord.oid,i)">取消订单</el-button>
                                                <button class="buy" style="margin: 0px" @click="payone(ord.oid,i)">立即支付</button>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>


                            </el-card>


                        </el-main>
                    </el-tab-pane>
                </el-tabs>


            </el-container>
        </el-container>

        <!--用户抽屉-->
        <el-drawer
                :visible.sync="drawer"
                :before-close="handleClose"
                size="200px">
            <span slot="title">
                <div v-show="true" style="display: flex;align-items: center;justify-content: center">
                    <el-link type="primary" :underline="false" style="margin-left: 10px" @click="drawer = true">
                        <el-avatar :src="circleUrl"
                                   style="transform: translateX(-120%) translateY(-50%);position: absolute;top: 50%;"></el-avatar>
                        {{titleNameed}}
                    </el-link>
                </div>
            </span>
            <div style="width: 100%;height: 100%;display: flex;justify-content: space-between;align-items: center;flex-direction: column">
                <div style="width: 100%;display: flex;justify-content: center;align-items: center;flex-direction: column">
                    <el-link :underline="false" style="margin-bottom: 30px" href="Userpersonal.html">
                        <i class="el-icon-user" style="font-size: 18px">个人中心</i>
                    </el-link>
                    <el-link :underline="false" style="margin-bottom: 30px" href="userOrder.html">
                        <i class="el-icon-s-order" style="font-size: 18px">订单管理</i>
                    </el-link>
                    <el-link :underline="false" style="margin-bottom: 30px" href="User_passengers.html">
                        <i class="el-icon-phone-outline" style="font-size: 18px">乘机人管理</i>
                    </el-link>
                    <el-link :underline="false" style="margin-bottom: 30px" href="User_changepassword.html">
                        <i class="el-icon-lock" style="font-size: 18px">修改密码</i>
                    </el-link>
                </div>
                <div>
                    <el-link :underline="false" type="primary">
                        <i class="el-icon-close" style="font-size: 18px;margin-bottom: 30px" @click="quit">退出</i>
                    </el-link>
                </div>
            </div>
        </el-drawer>

        <!--模拟支付-->
        <el-dialog
                title="支付"
                :visible.sync="dialogVisibleZF"
                width="480px"
                :before-close="handleCloseZF">
            <div style="display: flex">
                <el-image
                        style="width: 200px; height: 200px"
                        :src="ewmurl"
                        fit="fit"></el-image>
                <div style="width: 200px; height: 200px;padding: 10px 20px">
                    <span style="font-size: 18px">请尽快完成支付！<br>请使用微信支付或者支付宝进行支付，支付完成后点击已支付进行刷新！</span>
                </div>

            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisibleZF = false">取 消</el-button>
                <el-button type="primary" @click="topay">已支付</el-button>
          </span>
        </el-dialog>

    </div>

</div>

<script src="../js/axios-0.18.0.js"></script>
<script src="../js/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">

<script>


    new Vue({
        el: "#app",
        data: {
            //登录状态
            userStatus: false,
            //模拟支付二维码
            ewmurl:'../img/paypc.jpg',
            //支付id
            payId:'',
            /*添加数据*/
            formAdd:{
                tid:'1',
                origin:'1',
                end:'1',
                date:'1',
                timefrom:'1',
                timearrive:'1',
                psName:'1',
                price:'1',
                oid:'1',
                ordertime:'1',
            },
            /*订单模糊查询*/
            formInline:{
                pid:'',
                name:'',
                cardtype:'',
                idcard:'',
                uid:'',
            },
            /*订单信息*/
            orders:[],

            //用户信息
            user:{
                uid: '110005',
                userName:'',
                titleName:'',
                password: '',
                sex: '',
                phone: '',
                birthday: '',
                email: ''
            },
            isCollapse: true,
            //弹窗状态
            /*添加*/
            dialogVisibleAdd:false,
            /*修改*/
            dialogVisibleEdit:false,
            dialogVisible: false,
            activeName: 'first',
            // 添加弹窗的表单对齐方式
            labelPosition:'right',
            // 导航栏index值
            activeIndex: '0',
            activeIndex2: 'userOrder.html',
            fit: 'cover',
            // 头像图片路径
            circleUrl: '../img/usertx.png',
            logoUrl: '../img/logo.png',

            //抽屉状态
            drawer: false,
            //支付弹窗状态
            dialogVisibleZF: false,
            //用户名
            titleNameed:'',
        },
        mounted(){
            this.ckLogin();
            this.getAll();
        },
        methods: {
            getContextPath() {
                let pathName = window.document.location.pathname;
                let contextPath = pathName.split('/')[1]
                return '/'+contextPath;
            },
            //检查登录
            ckLogin(){
                axios.get('/PlaneTicket/user/users/check').then((res)=>{
                    console.log("user"+res.data);
                    if(res.data != null && res.data != ''){
                        this.titleNameed = res.data;
                    }else{
                        location.href = this.getContextPath()+'/login.html';
                    }
                });
            },
            //获取过程时间
            getProcess(start, end) {
                if(start != '' && end != '' && start != null && end != null){
                    let starts = start.split(":");
                    let ends = end.split(":");
                    let h;
                    let m;
                    if (Number(ends[1]) < Number(starts[1])) {
                        m = Number(ends[1]) + 60 - Number(starts[1]);
                        h = Number(ends[0]) - 1 - Number(starts[0]);
                    } else {
                        m = Number(ends[1]) - Number(starts[1]);
                        h = Number(ends[0]) - Number(starts[0]);
                    }
                    return h + "h" + m + "m";
                }else {
                    return "0h0m";
                }

            },
            getAll(){
              axios.get('/PlaneTicket/user/orders/stated').then((res)=>{
                  this.orders = res.data;
              })
            },
            getNoPay(){
              axios.get('/PlaneTicket/user/orders/noPay').then((res)=>{
                  this.orders = res.data;
              })
            },
            getPayed(){
              axios.get('/PlaneTicket/user/orders/payed').then((res)=>{
                  this.orders = res.data;
              })
            },
            getCel(){
              axios.get('/PlaneTicket/user/orders/cel').then((res)=>{
                  this.orders = res.data;
              })
            },
            handleClick(tab) {
                if(tab.name == 'first'){
                    this.getAll();
                }else if(tab.name == 'second'){
                    this.getPayed();
                }else if(tab.name == 'third'){
                    this.getNoPay();
                }else if(tab.name == 'fourth'){
                    this.getCel();
                }
            },
            //取消订单
            expay(oid){
                this.$confirm('确定要取消此订单吗？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.put('/PlaneTicket/user/orders/ex/'+oid).then((res)=>{
                        if(res.data){
                            this.$message({
                                type: 'success',
                                message: '取消提交成功!'
                            });
                        }else {
                            this.$message.error('取消提交失败');
                        }
                    }).finally(()=>{
                        this.getNoPay();
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消操作'
                    });
                });
            },
            //进行支付
            payone(oid){
                this.payId = oid;
                this.dialogVisibleZF = true;
            },
            //模拟支付
            topay() {
                axios.put('/PlaneTicket/user/orders/pay/'+this.payId).then((res)=>{
                    if(res.data){
                        this.$message({
                            message: '恭喜你，支付成功',
                            type: 'success'
                        });
                        this.dialogVisibleZF = false;
                    }else {
                        this.$message.error('不好意思，支付失败了');
                    }
                }).finally(()=>{
                    this.getNoPay();
                });
            },
            //模拟支付关闭事件
            handleCloseZF(done){
                done();
            },
            todeleted(oid){
                this.$confirm('此操作将永久删除此订单, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete('/PlaneTicket/user/orders/'+oid).then((res)=>{
                        if(res.data){
                            this.$message({
                                message: '恭喜你，删除成功',
                                type: 'success'
                            });
                        }else{
                            this.$message.error('不好意思，删除失败了');
                        }
                    }).finally(()=>{
                        this.activeName = 'first';
                        this.getAll();
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },

            loginHandleClose(done) {
                done();
            },
            /*重置按钮的js,实现输入框清空*/
            Reset(){
                this.formInline.psName="";
                this.formInline.card_type="";
                this.formInline.id_card="";
            },

            /*点左边导航栏改变右边的内容*/
            changeshow(){
                console.log(this.show);
                this.show=!this.show;
                console.log(this.show);

            },
            // 登录弹窗关闭事件
            handleClose(done) {
                /*this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {
                    });*/
                done();
            },

            // 提交方法
            onSubmit() {
                console.log(this.formEdit);
            },
            // 导航栏选择方法
            handleSelect(routePath) {
                location.href = routePath;
            },

            /*退出登录*/
            quit(){
                let _this=this;
                axios({
                    method: "get",
                    url: "http://localhost:8080/PlaneTicket/user/users/quit",
                }).then(function (resp) {
                    if(resp.data===true){
                        _this.userStatus=false;
                        _this.tableData=null;
                        _this.drawer=false;
                    }
                })
            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            }
        }
    });

</script>
</body>
</html>